
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#big-container {
    width: 100%;
    padding: 20px 0;
    background-color: #d5d5d5;
    text-align: center;
}

#big-container p {
    padding: 2em;
}

#container-card {
    margin: 0 auto;
}

.card-inside {
    padding-bottom: 0.7em;
}